<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Explorer</title>
</head>
<body>
    <div class="header"></div>
    <h1>Space Exploration</h1>
    <div class="container">
        <img src="images/20802115234_3ccd4e93a9_c.jpg" alt="">
        <img src="images/26405462060_ca9f2d22d9_c.jpg" alt="">
        <img src="images/istockphoto-1131418344-612x612.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
        <p>Maxime vel facere excepturi natus et aliquid harum eius eaque nisi deserunt temporibus labore,</p> 
        <p>vero iusto sequi corrupti officia repudiandae exercitationem consequatur.</p>
    </div>
    <div class="footer">Copyright &#169; Phoenx</div>
</body>
</html>