<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login - Space Probe</title>
</head>
<body>
    <div class="header"></div>
    <div class="login centered">
        <div class="row">
            <h3>Login</h3>
            <form action="/login" method="POST">
                <input type="text" name="username" id="username" placeholder="Enter your username">
                <input type="password" name="password" id="password" placeholder="Enter your password">
                <input type="submit" value="Login">
            </form>
        </div>
        <hr>
        <div class="row">
            <h3>Register</h3>
            <form action="/register" method="POST">
                <input type="text" name="username" id="username" placeholder="Enter your username">
                <input type="password" name="password" id="password" placeholder="Enter your password">
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>